<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>

  <style>
    .absolute {
      width: 100px;
      height: 100px;
      background-color: red;
      position: absolute;
    }

    .e1 {
      top: 100px;
      left: 100px;
    }

    .e2 {
      top: 200px;
      left: 500px;
    }

    .e3 {
      top: 500px;
      left: 200px;
    }

    .e4 {
      top: 400px;
      left: 800px;
    }
  </style>
</head>
<body>
  <div class="absolute e1"></div>
  <div class="absolute e2"></div>
  <div class="absolute e3"></div>
  <div class="absolute e4"></div>
</body>
</html>
