<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>

  <style>
    .fixed {
      width: 100%;
      height: 50px;
      position: fixed;
      color: white;
      font-size: 24px;
      background-color: blue;
    }

    .existence {
      height: 50px;
    }

    .e1 {
      background-color: red;
    }

    .e2 {
      background-color: green;
    }

    .e3 {
      background-color: gray;
    }

    .e4 {
      background-color: orange;
    }
  </style>
</head>
<body>
  <div class="fixed">
    Fixed
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="existence e1"></div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="existence e2"></div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="existence e3"></div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="existence e4"></div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</body>
</html>
