<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Float General</title>

  <style>
    .container {
      max-width: 960px;
      margin: 0 auto;
    }

    img {
      float: left;
      margin: 20px 20px 10px 0;
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="image.png"/>
    <h1>From today's featured article</h1>
    <h3>From Wikipedia, the free encyclopedia</h3>
    <p>
      The Master System is a third-generation home video game console from Sega, released in the late 1980s.
      The original models took game cartridges as well as credit-card-sized Sega Cards; accessories included
      a light gun and 3D glasses. The system's hardware was superior to that of the competing Nintendo Entertainment
      System, and it boasted several well-received game titles, but Nintendo's licensing practices prevented
      Sega from acquiring many of the more popular titles. Sega failed to gain a significant market share in
      Japan and North America, but was more successful in Europe and Brazil. Sales of the console reached an
      estimated 10 to 13 million units before the arrival of its successor, the Sega Genesis, compared to
      62 million Nintendo Entertainment System units sold. The Master System has been sold for 26 years, 
      longer than any other game console, due to its continuing popularity in Brazil.
    </p>
    <p>
      In the early 1980s, Sega Enterprises, Inc., then a subsidiary of the conglomerate Gulf and Western,
      was one of the largest arcade game manufacturers active in the United States, with company revenues
      of $214 million by mid-1982.[11] A downturn in the arcade business starting in 1982 negatively impacted
      the company, leading Gulf and Western to sell the North American manufacturing and licensing of its arcade
      games to Bally Manufacturing.[12][13] The company retained its Japanese subsidiary, Sega of Japan,
      as well as Sega's North American research and development division. With its arcade business in decline,
      Gulf and Western executives turned to Sega of Japan's president, Hayao Nakayama, for advice on how to proceed.
      Nakayama advocated that the company leverage its hardware expertise gained through years working in the arcade
      industry to move into the home console market in Japan, which was in its infancy at the time.[14]
      Nakayama received permission to proceed with this project, leading to the release of Sega's first home
      video game system, the SG-1000
    </p>
  </div>
</body>
</html>
