<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>

  <style>
    .relative {
      margin: 20px;
      padding: 50px;
      position: relative;
      border: 1px solid #f4f4f4;
    }

    .absolute {
      top: 10px;
      left: 10px;
      width: 100px;
      height: 100px;
      background-color: green;
      position: absolute;
    }
  </style>
</head>
<body>
  <div class="relative">
    <span>
      The European launch of the Master System occurred in 1987.
      It was distributed by Mastertronic in the United Kingdom,
      Master Games in France, and Bertelsmann in Germany.
      Mastertronic advertised the Master System as "an arcade in
      the home" and launched the system at GB₤99.
    </span>
  </div>
  <div class="relative">
    <span>
      The European launch of the Master System occurred in 1987.
      It was distributed by Mastertronic in the United Kingdom,
      Master Games in France, and Bertelsmann in Germany.
      Mastertronic advertised the Master System as "an arcade in
      the home" and launched the system at GB₤99.
    </span>
    <div class="absolute"></div>
  </div>
  <div class="relative">
    <span>
      The European launch of the Master System occurred in 1987.
      It was distributed by Mastertronic in the United Kingdom,
      Master Games in France, and Bertelsmann in Germany.
      Mastertronic advertised the Master System as "an arcade in
      the home" and launched the system at GB₤99.
    </span>
  </div>
  <div class="relative">
    <span>
      The European launch of the Master System occurred in 1987.
      It was distributed by Mastertronic in the United Kingdom,
      Master Games in France, and Bertelsmann in Germany.
      Mastertronic advertised the Master System as "an arcade in
      the home" and launched the system at GB₤99.
    </span>
    <div class="absolute"></div>
  </div>
</body>
</html>
