<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>

  <style>
    q {
      top: 4px;
      color: red;
      font-weight: bold;
      position: relative;
    }
  </style>
</head>
<body>
  <span>
    Designed by an internal division of Sega referred to as the "Away Team",
    the same <q>team that had designed the SG-1000,</q>the Mark III was a redesigned
    iteration of the previous console.[22] The CPUs in the SG-1000 and SG-1000 II
    were Zilog Z80s running at 3.58 MHz,[23][24] while the Mark III, SC-3000—a
    computer version of the SG-1000—and Master System feature a Z80 running at 4 MHz.
    The Mark III and Master System also carried over the Sega Card slot used in the SG-1000.
    According to Edge, lessons from the SG-1000's lack of commercial success were used in
    the hardware redesign of the Mark III, and the console was designed to be more
    powerful than the Famicom
  </span>
</body>
</html>

